{
	"useTabs": true,
	"trailingComma": "none",
	"tabWidth": 6,
	"bracketSameLine": true,
	"semi": true,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
